<div>
  <mat-card class="form-box">
    <h2 class="add-note-title">Add new note</h2>
    <form class="my-form" [formGroup]="stickyForm">
      <mat-form-field class="add-note-input">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <br><br>
      <mat-form-field class="add-note-input">
        <input matInput placeholder="Category name" formControlName="categoryName">
      </mat-form-field>
      <br><br>
      <mat-form-field class="add-note-input content">
        <textarea matInput placeholder="Sticky note content" formControlName="description"></textarea>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </mat-card>
</div>
