<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Sticky List
        <button mat-raised-button color="primary" class="add-button" (click)="openAddSticky()">Add Sticky Note</button>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12" *ngFor="let sticky of stickyList">
      <mat-card class="sticky-card">
        <mat-card-header>
          <mat-card-title>{{ sticky.title }}</mat-card-title>
          <div class="button-group">
            <button mat-icon-button color="accent" class="edit-button" (click)="openEditDialog()">
              <span class="edit-button-text">Edit</span>
            </button>
            <button mat-icon-button color="warn" class="delete-button" (click)="deleteSticky(sticky)">
              <span class="delete-button-text">Delete</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>{{ sticky.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
