.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.sticky-list-title{
  color: #fff;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.add-button {
  background-color: #dbc46b!important;
}

.sticky-card {
  width: 325px;
  height: 300px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background: #ffeb97;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
  position: relative;
  margin-bottom: 20px;
}

.note-crease {
  clip-path: polygon(0 -4%, 0% 100%, 100% 100%);
  background-color: #dbc46b;
  width: 35px;
  height: 30px;
  position: absolute;
  right: -2px;
  top: 0;
}

.mat-card-header {
  background-color: cornflowerblue;
  padding: 12px;
}

.mat-card-title,
.mat-card-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: white;
}

.button-group {
  display: flex;

  align-items: center;
}
.sticky-card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-button,
.delete-button {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 5px;
  padding: 5px 0 0 0;
  cursor: pointer;
}
.sticky-card-content{
  width: 260px;
  height: 80%;
}
.edit-button:hover,
.delete-button:hover{
  background-color: #dbc46b;
}

.edit-button {
  margin-right: 8px;
}

.delete-button {
  background-color: transparent;
}

.edit-button .mat-icon,
.delete-button .mat-icon {
  font-size: 16px;
}

.edit-button-text,
.delete-button-text {
  font-size: 12px;
}

.mat-card-content {
  padding: 12px;
}

h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
